<main>
    <div class="relative pt-16 pb-32 flex content-center items-center justify-center" style="min-height: 75vh;">
        
        <div class="absolute top-0 w-full h-full bg-center bg-cover">
                <span class="w-full h-full absolute opacity-75 bg-principal-azul"></span>
        </div>

        <div class="container relative mx-auto">
            <div class="items-center flex flex-wrap">
                <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
                    <div class="pr-12">
                        <h1 class="text-white font-semibold text-5xl">Los mejores juegos online</h1>
                        <p class="mt-4 text-lg text-gray-300">
                            Sala de Juegos es una aplicación que te permite mostrar lo fácil que es hacer un sitio de juegos online.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <section class="pb-20 bg-gray-300 -mt-24">

        <div class="container mx-auto md:my-auto px-4">

            <div class="flex flex-wrap md:pb-0">

                <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
                    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                        <div class="px-4 py-5 flex-auto">
                            <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                                <fa-icon [icon]="['fas', 'face-dizzy']"></fa-icon>
                            </div>
                            <h6 class="text-xl font-semibold">Ahorcado</h6>
                            <p class="mt-2 mb-4 text-gray-600">
                                El clásico juego de descubrir una palabra antes de morir en la horca. 
                                Prueba tu conocimiento del idioma español con este minijuego.
                            </p>        
                        </div>
                    </div>
                </div>

                <div class="w-full pt-6 md:w-4/12 px-4 text-center">
                    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                        <div class="px-4 py-5 flex-auto">
                            <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400">
                                <fa-icon [icon]="['fas', 'plus-minus']"></fa-icon>
                            </div>
                            <h6 class="text-xl font-semibold">Mayor o menor</h6>
                            <p class="mt-2 mb-4 text-gray-600">
                                ¿Lo tuyo son los números y no las palabras complejas? Intenta entonces averiguar el
                                numero secreto en la menor cantidad de intentos.
                            </p>                        
                        </div>
                    </div>
                </div>

                <div class="pt-6 lg:pt-10 w-full md:w-4/12 px-4 text-center">
                    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                        <div class="px-4 py-5 flex-auto">
                            <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400">
                                <fa-icon [icon]="['fas', 'question']"></fa-icon>
                            </div>
                            <h6 class="text-xl font-semibold">Preguntados</h6>
                            <p class="mt-2 mb-4 text-gray-600">
                            Pon a prueba tu cultura general y tus conocimientos con esta versión del popular juego
                            de preguntas y respuestas. Más respuestas, más puntos.
                            </p>
                        </div>
                    </div>
                </div>            
            
            </div>

            <div class="flex flex-wrap items-center lg:mt-32 md:mt-20 sm:mt-8">
                
                <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
                    <div class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100">
                        <fa-icon [icon]="['fas', 'heart']"></fa-icon>
                    </div>
                        <h3 class="text-3xl mb-2 font-semibold leading-normal text-principal-azul">
                            La estrella del momento
                        </h3>
                        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-principal-azul">
                            Juega al último juego que traemos para ti. Juega al famoso Black Jack, pero 
                            en versión online.
                        </p>    
                        <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-principal-azul">
                            Un juego clásico, con dificultad variable. Desafía al azar con tu ingenio.
                        </p>
                        <a href="" class="font-bold text-principal-azul hover:text-secundario-naranja mt-8">
                            Jugar al Black Jack
                        </a>
                </div>

                <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
                    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg">
                        <img alt="..." src="https://firebasestorage.googleapis.com/v0/b/prueba1-7bc74.appspot.com/o/assets%2Fimg%2FblackJack.png?alt=media&token=94ec3a2f-40db-47af-a469-c37138e471d5" class="w-full align-bottom"/>      
                    </div>
                </div>

            </div>

        </div>
    </section>
</main>