<main class="font-changa">
    <div class="relative pt-16 pb-32 flex content-center items-center justify-center bg-violeta">
        <div class="md:flex container relative mx-auto">
            <div class="items-center flex uppercase">
                <div>
                    <img src="https://i.postimg.cc/PJCbH8wn/galaxia.png" 
                    alt=""
                    class="absolute invisible md:visible md:relative">
                </div>
                <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
                    <h1 class="text-turquesa font-semibold text-3xl md:text-5xl font-comic">BIENVENIDO A LOS JUEGOS ESTELARES</h1>
                    <p class="mt-4 text-2xl text-fucsia font-retropix">
                        Esta edición de los Juegos Estelares tiene como sede al planeta Tierra. 
                    </p>
                    <p class="mt-4 text-lg text-blanco font-changa">
                        Ganá tantos puntos como puedas en cada arena terrícola para convertir a tu nación extraterrestre en la mejor de la liga.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <section class="relative pb-20 bg-negro -mt-24">

        <div class="container mx-auto md:my-auto px-4 py-16">
            <div class="content-center items-center justify-center md:pb-0">
                <app-mapa></app-mapa>             
            </div>
        </div>
    </section>
</main>
    