<header>
    <!-- barra de navegación -->
    <nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-principal-azul mb-0">
        
      <!-- Contendor principal -->
        <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
          
          <div class="w-full relative flex justify-between lg:w-auto px-4 lg:static lg:block lg:justify-start">
            
            <!-- Nombre y logo del sitio -->
            <div class="flex justify-between items-center gap-[2vw] lg:mx-auto">
              <img class="w-12" src="sword-icon.ico" alt="logo">
              <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white hover:text-secundario-naranja" href="home">
                Sala de juegos
              </a>
            </div>
            
            <!-- Botón menu desplegable responsive -->
            <button class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" (click)="mostrarMenu()">
              <!-- Icono hamburguesa -->
              <fa-icon [icon]="['fas', 'bars']" ></fa-icon>
            </button>

          </div>

          <div [ngClass]="{'hidden': !estadoMenu, 'flex': estadoMenu}" class="lg:flex lg:flex-grow items-center">

            <ul class="flex flex-col lg:flex-row list-none ml-auto">

              <li class="nav-item">
                <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-secundario-naranja hover:text-secundario-blanco" href="home">
                  <span class="ml-2">Juegos</span>
                </a>
              </li>

              <li class="nav-item">
                <button class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-secundario-naranja hover:text-secundario-blanco" (click)="log_button()">
                  <ng-container *ngIf="logged">Salir</ng-container>
                  <ng-container *ngIf="!logged">Ingresar</ng-container>
                </button>
              </li>

              <li class="nav-item">
                <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-secundario-naranja hover:text-secundario-blanco" href="quien-soy">
                  <span class="ml-2">Sobre nosotros</span>
                </a>
              </li>

            </ul>

          </div>

        </div>

      </nav>
</header>

<router-outlet></router-outlet>
